@font-face {
  font-family: "Aber Mono";
  src: url("../assets/fonts/Aber-Mono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Aber Mono";
  src: url("../assets/fonts/Aber-Mono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: #2e302e;
  background: #eff7fa;
}

h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

p {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 1.5rem;
}
.container--flush {
  padding: 0;
}
@media screen and (min-width: 640px) {
  .container {
    padding: 0 5.5rem;
  }
  .container--flush {
    padding: 0;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #464f6e;
  opacity: 0.2;
}

.promo-bar {
  width: 100%;
  height: 1.6875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffba00;
}
.promo-bar__text {
  font-family: "Roboto Mono", monospace;
  font-size: 0.75rem;
  font-weight: 700;
  color: #222430;
  letter-spacing: 0.03125rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.header {
  background: #ffffff;
  padding: 0.3125rem 1rem;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__button {
  background-color: #222430;
  color: #ffffff;
  padding: 0.625rem 1.5rem;
  border-radius: 35px;
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 0;
}
.header__cart {
  position: relative;
  cursor: pointer;
  margin-right: 0.5rem;
}
.header__cart-count {
  position: absolute;
  top: -0.625rem;
  right: -0.5rem;
  background: #000;
  color: #ffffff;
  border-radius: 50%;
  font-size: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 640px) {
  .header {
    padding: 0.3125rem 1.1875rem;
  }
  .header__left {
    gap: 1rem;
  }
  .header__right {
    gap: 1.8125rem;
  }
  .header__button {
    padding: 0.9375rem 3rem;
    font-size: 1rem;
  }
}
.hero {
  background: linear-gradient(232deg, rgb(70, 78, 112) 0%, rgb(32, 55, 70) 100%);
}
.hero__content {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.hero__text {
  max-width: 100%;
  position: relative;
  z-index: 2;
  transform: none;
}
.hero__title {
  color: #fffaf6;
  font-size: 2rem;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  line-height: 2.5rem;
  margin: 0;
}
.hero__subtitle {
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 1rem 0 1.5rem 0;
}
.hero__button {
  width: 100%;
  max-width: 19.625rem;
  height: 3.5rem;
  border-radius: 2.1875rem;
  background-color: #ffba00;
  color: #2e302e;
  font-size: 1rem;
  text-transform: uppercase;
}
.hero__testimonial {
  margin-top: 2rem;
  font-family: "Roboto Mono", monospace;
  font-size: 0.9rem;
  max-width: 100%;
}
.hero__testimonial blockquote {
  margin: 0.9375rem 0 0.75rem 0;
  padding: 0;
  font-style: normal;
  letter-spacing: 0.03125rem;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}
.hero__testimonial .hero__author {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.hero__testimonial .hero__author .hero__author-initials {
  background: #ffffff;
  color: #000;
  font-weight: 700;
  border-radius: 50%;
  width: 2.4375rem;
  height: 2.4375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.125rem solid #000;
}
.hero__testimonial .hero__author .hero__author-name {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
}
.hero__image {
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
  z-index: 1;
}
.hero__image img {
  width: 100%;
  height: auto;
  display: block;
}
@media screen and (min-width: 640px) {
  .hero__content {
    flex-direction: row;
    text-align: left;
    padding: 3.69rem 0 4.44rem 0;
  }
  .hero__text {
    max-width: 41.875rem;
    transform: translateX(5.5rem);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .hero__title {
    font-size: 3rem;
    line-height: 3.25rem;
  }
  .hero__subtitle {
    font-size: 1.125rem;
    margin-left: 0.125rem;
  }
  .hero__testimonial {
    max-width: 21.875rem;
    margin-top: auto;
  }
  .hero__testimonial blockquote {
    font-size: 1.125rem;
  }
  .hero__testimonial .hero__author {
    justify-content: flex-start;
  }
  .hero__image {
    max-width: 38.25rem;
    height: 38.5625rem;
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .hero__title {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .hero__subtitle {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 1440px) {
  .hero__content {
    justify-content: flex-start;
  }
}

.routine__promo {
  background: #ffba00;
  border-radius: 1.78rem;
  padding: 1rem 1.25rem;
  margin-bottom: 1.5rem;
}
.routine__promo-text {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 0.95rem;
  color: #2e302e;
  margin: 0;
}
.routine__promo-highlight {
  text-decoration: underline;
  text-underline-offset: 0.375rem;
}
@media (min-width: 640px) {
  .routine__promo {
    margin: 2.625rem 0 5.125rem;
  }
}
.routine__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 1024px) {
  .routine__content {
    flex-direction: row;
    gap: 4.375rem;
    margin-bottom: 3rem;
  }
}
.routine__content > .routine__text,
.routine__content > .routine__product {
  flex: 1 1 50%;
}
.routine__text .routine__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 1.75rem;
  color: #2e302e;
  letter-spacing: -0.083rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
@media (min-width: 640px) {
  .routine__text .routine__title {
    font-size: 5rem;
    line-height: 4.5rem;
    margin-bottom: 2.31rem;
  }
}
.routine__text .routine__description {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6;
  color: #2e302e;
  margin: 0 2rem 1.56rem 0;
}
.routine__text hr {
  border-color: #1d3c34;
  opacity: 0.1;
  margin-bottom: 1.625rem;
}
.routine__text .routine__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.routine__text .routine__list-item {
  position: relative;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #2e302e;
  margin-bottom: 1.5rem;
  padding-left: 2.19rem;
}
.routine__text .routine__list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.375rem;
  height: 1.21rem;
  background: url("/assets/images/icons/check.svg") no-repeat center;
  background-size: contain;
}
.routine__product-img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.routine__features {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1.5rem;
  background: #ffffff;
  border-radius: 3.25rem;
}
@media (min-width: 640px) {
  .routine__features {
    grid-template-columns: repeat(3, 1fr);
    gap: 4.94rem;
    padding: 4.63rem 2.38rem 4.56rem;
  }
}
.routine__features .routine__feature {
  display: flex;
  align-items: center;
  gap: 1.19rem;
}
.routine__features .routine__feature-icon {
  max-width: 4.38rem;
}
@media (min-width: 640px) {
  .routine__features .routine__feature-icon {
    max-width: 8.44rem;
  }
}
.routine__features .routine__feature-text {
  font-family: "Roboto Mono", monospace;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.4;
  color: #2e302e;
  margin: 0;
}

.steps {
  background: #eff7fa;
}
.steps__intro {
  margin-bottom: 1rem;
}
.steps__intro .steps__subtitle {
  font-family: "Roboto Mono", monospace;
  font-size: 0.95rem;
  color: #434c6c;
  margin-bottom: 1rem;
}
@media (min-width: 640px) {
  .steps__intro .steps__subtitle {
    margin-bottom: 2.31rem;
  }
}
.steps__intro .steps__icon {
  display: block;
  margin: 0 auto 1rem;
  width: 6.94rem;
  height: 7.38rem;
}
@media (min-width: 640px) {
  .steps__intro .steps__icon {
    margin: 0 auto 2.81rem;
  }
}
.steps__intro .steps__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 1.75rem;
  letter-spacing: -0.083rem;
  line-height: 3.25rem;
  text-transform: uppercase;
  color: #2e302e;
  margin: 0;
}
@media (min-width: 640px) {
  .steps__intro .steps__title {
    font-size: 5rem;
  }
}
@media (min-width: 640px) {
  .steps__intro {
    font-size: 7.25rem;
    margin-bottom: 5.63rem;
  }
}
.steps__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
@media (min-width: 640px) {
  .steps__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 8.31rem;
  }
}
.steps__image-wrapper {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1.38rem;
}
.steps__image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 3.13rem;
}
.steps__number {
  position: absolute;
  top: 1.63rem;
  left: 1.63rem;
  width: 3.13rem;
  height: 3.13rem;
  border-radius: 50%;
  background: #ffffff;
  color: #2e302e;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 1.63rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.094rem solid #000;
}
.steps__details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 640px) {
  .steps__details {
    gap: 1.75rem;
  }
}
.steps__product {
  max-width: 4rem;
  height: auto;
}
.steps__text {
  font-family: "Roboto Mono", monospace;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #2e302e;
  margin: 0;
}
@media (min-width: 640px) {
  .steps {
    padding: 7.25rem 0 5.31rem;
  }
}

.results {
  background: #eff7fa;
}
.results__intro {
  text-align: center;
  max-width: 48rem;
  margin: auto;
  padding: 1.5rem;
}
.results__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: #2e302e;
}
@media (min-width: 640px) {
  .results__title {
    font-size: 3.125rem;
  }
}
.results__text {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  line-height: 1.6;
  color: #434c6c;
}
.results__hero {
  position: relative;
  width: 100%;
}
.results__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.results__quote {
  margin: 1rem;
  display: block;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 1.125rem;
  line-height: 1.2;
  color: #2e302e;
  text-transform: uppercase;
  text-align: center;
  border: none;
}
@media (min-width: 768px) {
  .results__quote {
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    margin: 0;
    text-align: left;
    font-size: 3.125rem;
    line-height: 1.05;
    color: #ffffff;
    text-shadow: 0 6px 22px rgba(0, 0, 0, 0.45);
  }
}
.results__features {
  overflow: hidden;
}
.results__features .results__track {
  display: flex;
  width: max-content;
  animation: ticker-scroll 20s linear infinite;
}
.results__feature {
  position: relative;
  flex: none;
  padding: 1.875rem;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
  color: #2e302e;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.results__feature::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.375rem;
  height: 1.21rem;
  background: url("/assets/images/icons/check.svg") no-repeat center;
  background-size: contain;
}
@media (min-width: 640px) {
  .results {
    padding: 4.5rem 0 0;
  }
}

@keyframes ticker-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.benefits__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 1.75rem;
  line-height: 1.333;
  color: #2e302e;
  margin-bottom: 0.9375rem;
  letter-spacing: -0.0519rem;
  text-transform: uppercase;
}
@media (min-width: 640px) {
  .benefits__title {
    font-size: 3.125rem;
    line-height: 3.25rem;
  }
}
.benefits__text {
  font-size: 1rem;
  line-height: 1.6;
  color: #2e302e;
  margin-bottom: 2rem;
}
@media (min-width: 640px) {
  .benefits__text {
    margin-bottom: 3.125rem;
  }
}
.benefits__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .benefits__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 5.3125rem;
    align-items: start;
  }
}
.benefits__card {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100%;
}
.benefits__image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 1.1875rem;
  margin-bottom: 2.0625rem;
}
.benefits__heading {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 1.4375rem;
  line-height: 1.2;
  margin-bottom: 1.25rem;
  color: #2e302e;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 2.4em;
}
.benefits__desc {
  font-family: "Roboto Mono", monospace;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: #434c6c;
  margin: 0;
  margin-top: auto;
}
@media (min-width: 640px) {
  .benefits {
    padding: 3.125rem 0 5.625rem;
  }
}

.bundle {
  background: #ffffff;
  border: 0.0625rem solid #2e302e;
}
.bundle__container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
}
@media (min-width: 768px) {
  .bundle__container {
    grid-template-columns: 1fr 1fr;
    gap: 9.6875rem;
  }
}
.bundle__badge {
  display: inline-block;
  background: #ffba00;
  color: #2e302e;
  font-size: 1.125rem;
  padding: 0.4rem 1rem;
  border-radius: 999px;
  margin-bottom: 1.75rem;
  text-align: center;
}
.bundle__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 1.75rem;
  color: #2e302e;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
@media (min-width: 640px) {
  .bundle__title {
    font-size: 3.125rem;
    line-height: 3.25rem;
    margin-bottom: 1.375rem;
  }
}
.bundle__text {
  font-family: "Roboto Mono", monospace;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #2e302e;
  margin-bottom: 1.5rem;
}
.bundle hr {
  border-color: #1d3c34;
  opacity: 0.1;
  margin: 1.375rem 3.0625rem 1.375rem 0;
}
.bundle__features {
  list-style: none;
  padding: 0;
  margin: 0 0 1.8125rem;
}
.bundle__features .bundle__feature {
  position: relative;
  padding-left: 2rem;
  font-family: "Roboto Mono", monospace;
  font-size: 1.125rem;
  color: #2e302e;
  margin-bottom: 1rem;
}
.bundle__features .bundle__feature::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.3rem;
  width: 1.375rem;
  height: 1.375rem;
  background: url("/assets/images/icons/check.svg") no-repeat center;
  background-size: contain;
}
.bundle__cta {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.bundle__button {
  background: #2e302e;
  color: #ffffff;
  font-size: 1.125rem;
  padding: 0.875rem 1.5rem;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: background 0.3s;
}
.bundle__price-old {
  font-size: 1rem;
  color: #434c6c;
  text-decoration: line-through;
}
.bundle__media {
  text-align: center;
}
.bundle__media .bundle__image {
  max-width: 100%;
  height: auto;
}
@media (min-width: 640px) {
  .bundle {
    padding: 4.9375rem 0 4.25rem;
    margin: 0;
  }
}

.ingredients {
  margin: 1.5rem 0;
}
.ingredients__intro {
  text-align: left;
  margin-bottom: 1.75rem;
}
@media (min-width: 640px) {
  .ingredients__intro {
    margin-bottom: 56px;
  }
}
.ingredients__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 1.75rem;
  line-height: 1.2;
  color: #2e302e;
  margin-bottom: 31px;
  text-transform: uppercase;
}
@media (min-width: 640px) {
  .ingredients__title {
    font-size: 3.125rem;
    line-height: 1.1;
  }
}
.ingredients__button {
  display: inline-block;
  background: #ffba00;
  color: #2e302e;
  font-size: 18px;
  padding: 0.75rem 2rem;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ingredients__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
@media (min-width: 640px) {
  .ingredients__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 54px 70px;
  }
}
@media (min-width: 1024px) {
  .ingredients__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.ingredients__card {
  display: flex;
  align-items: center;
  gap: 26px;
  text-align: left;
}
.ingredients__image {
  flex-shrink: 0;
  width: 132px;
  height: 132px;
  object-fit: cover;
  border-radius: 0.75rem;
}
.ingredients__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 11px;
}
.ingredients__name {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  color: #434c6c;
}
.ingredients__desc {
  font-family: "Aber Mono", monospace;
  font-size: 12px;
  color: #434c6c;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.6;
}
@media (min-width: 640px) {
  .ingredients {
    padding: 99px 0 104px 0;
  }
}

.formulas {
  background: #292a35;
}
.formulas__badge {
  display: inline-block;
  background: #ffba00;
  color: #2e302e;
  font-size: 1.125rem;
  padding: 0.3125rem 1.75rem 0.5rem 1.375rem;
  border-radius: 1.78125rem;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
}
@media (min-width: 768px) {
  .formulas__badge {
    margin-bottom: 4.09375rem;
  }
}
.formulas__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: -0.083125rem;
  text-transform: uppercase;
  color: #fffaf6;
  margin-bottom: 0.5rem;
}
@media (min-width: 640px) {
  .formulas__title {
    font-size: 5rem;
    line-height: 3.25rem;
    margin-bottom: 1.3125rem;
  }
}
.formulas__subtitle {
  font-size: 1.125rem;
  color: #ffffff;
}
.formulas__subtitle .highlight {
  text-decoration: underline;
  text-underline-offset: 0.375rem;
}
.formulas__grid {
  margin-top: 1rem;
}
@media (min-width: 640px) {
  .formulas__grid {
    margin-top: 4.0625rem;
  }
}
.formulas__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .formulas__card {
    flex-direction: row;
    gap: 6.0625rem;
    text-align: left;
    margin-top: 2.8125rem;
  }
  .formulas__card:nth-child(even) {
    flex-direction: row-reverse;
  }
}
.formulas__content {
  max-width: 22.3125rem;
  order: 1;
}
.formulas__heading {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 1.125rem;
  text-transform: uppercase;
  letter-spacing: -0.051875rem;
}
@media (min-width: 640px) {
  .formulas__heading {
    font-size: 3.125rem;
    line-height: 3.25rem;
  }
}
.formulas__desc {
  font-family: "Roboto Mono", monospace;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #ffffff;
}
.formulas__media {
  text-align: center;
  order: 2;
}
.formulas__media .formulas__image {
  width: 9.375rem;
  height: auto;
}
@media (min-width: 640px) {
  .formulas__media .formulas__image {
    width: 100%;
  }
}
.formulas__testimonials {
  margin-top: 1rem;
  text-align: center;
}
.formulas__testimonials-intro {
  font-size: 1.125rem;
  color: #ffba00;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .formulas__testimonials-intro {
    margin-bottom: 3.5625rem;
  }
}
.formulas__testimonials-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
@media (min-width: 768px) {
  .formulas__testimonials-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    padding: 0 2.5rem;
  }
}
@media (min-width: 768px) {
  .formulas__testimonials {
    margin-top: 8.6875rem;
  }
}
.formulas__testimonial {
  background: #eff7fa;
  border-radius: 2.4375rem;
  padding: 1.3125rem 1.75rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.formulas__testimonial-rating {
  margin-bottom: 0.9375rem;
}
.formulas__testimonial-quote {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  line-height: 1.5;
  color: #434c6c;
  margin-bottom: 1.25rem;
}
.formulas__testimonial-author {
  display: flex;
  align-items: center;
  gap: 0.5625rem;
  margin-top: auto;
}
.formulas__testimonial-avatar {
  width: 3.375rem;
  height: 3.375rem;
  border: 0.125rem solid #2e302e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.5rem;
  color: #2e302e;
  background: #ffffff;
  flex-shrink: 0;
}
.formulas__testimonial-info {
  text-align: left;
}
.formulas__testimonial-name {
  font-weight: 600;
  color: #002657;
  margin: 0 0 0.25rem;
  font-size: 0.9375rem;
}
.formulas__testimonial-role {
  font-size: 0.75rem;
  color: #434c6c;
  margin: 0;
  text-transform: uppercase;
}
@media (min-width: 640px) {
  .formulas {
    padding: 8.53125rem 0 6.59375rem 0;
  }
}

.fans {
  background: #eff7fa;
  padding: 1.188rem;
}
.fans__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #2e302e;
}
@media (min-width: 768px) {
  .fans__title {
    font-size: 3rem;
  }
}
.fans__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
@media (min-width: 768px) {
  .fans__grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}
.fans__card {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}
.fans__media {
  position: relative;
}
.fans__media .fans__image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1.875rem;
  border: 0.094rem solid #002657;
}
.fans__media .fans__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
  background: #ffffff;
  border: 0.094rem solid #002657;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.fans__media .fans__mute {
  position: absolute;
  top: 0.938rem;
  right: 0.938rem;
  background: #ffffff;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  border: 0.094rem solid #002657;
}
.fans__media .fans__info {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  width: calc(100% - 1.25rem);
  padding: 0 1rem;
  background: #ffffff;
  border-radius: 1.25rem;
  margin: 0.625rem;
}
.fans__name {
  font-size: 0.938rem;
  font-weight: 600;
  margin: 0;
  color: #002657;
}
.fans__price {
  font-size: 0.875rem;
  color: #434c6c;
  margin-bottom: 0.25rem;
}
.fans__add {
  background: #2e302e;
  color: #ffffff;
  font-size: 0.875rem;
  padding: 0.875rem 2.063rem;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}
.fans .fans-set {
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .fans .fans-set {
    padding: 9.875rem 0 0;
  }
}
.fans .fans-set__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 768px) {
  .fans .fans-set__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12.563rem;
    padding: 0 7.75rem 0 6.688rem;
  }
}
.fans .fans-set__content {
  flex: 1;
  max-width: 24.563rem;
  text-align: left;
}
.fans .fans-set__subtitle {
  font-size: 1.125rem;
  color: #434c6c;
  margin-bottom: 0.938rem;
}
.fans .fans-set__title {
  font-family: "Inter", sans-serif;
  font-size: 1.75rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #2e302e;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .fans .fans-set__title {
    font-size: 3.125rem;
    line-height: 3.25rem;
    letter-spacing: -0.052rem;
    margin-bottom: 2.063rem;
  }
}
.fans .fans-set__desc {
  font-size: 1.125rem;
  color: #434c6c;
  margin-bottom: 1.813rem;
  line-height: 1.5rem;
}
@media (min-width: 768px) {
  .fans .fans-set__desc {
    padding-right: 2.188rem;
  }
}
.fans .fans-set__list {
  list-style: none;
  padding: 0;
  margin: 0 0 2.063rem 0;
}
.fans .fans-set__list li {
  position: relative;
  padding-left: 1.875rem;
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
  color: #434c6c;
  border-bottom: 1px solid rgba(29, 60, 52, 0.1);
  padding-bottom: 0.75rem;
  margin-right: 2.188rem;
}
.fans .fans-set__list li:last-child {
  border-bottom: none;
  margin: 0;
  padding-bottom: 0;
}
.fans .fans-set__list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25rem;
  width: 1.188rem;
  height: 1.188rem;
  background: url(/assets/images/icons/check.svg) no-repeat center;
  background-size: contain;
}
.fans .fans-set__cta {
  display: inline-block;
  background: #222430;
  color: #ffffff;
  font-size: 1.125rem;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 2.188rem;
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
}
.fans .fans-set__media {
  flex: 1;
  text-align: center;
}
.fans .fans-set__media .fans-set__image {
  max-width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .fans {
    padding: 6.75rem 1.188rem;
  }
}

.footer {
  background: #222430;
}
.footer .footer__inner {
  display: flex;
  flex-direction: column;
}
.footer .footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}
.footer .footer__brand .footer__join {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #f5feff;
  font-size: 1.3125rem;
  text-transform: uppercase;
  letter-spacing: -0.01875rem;
  line-height: 1.3125rem;
  margin: 0 0 1.3125rem 0;
}
.footer .footer__brand .footer__join-desc {
  margin: 0;
  font-size: 0.875rem;
  color: #eff7fa;
  line-height: 1.125rem;
}
.footer .footer__logo img {
  width: 2.625rem;
  height: auto;
  object-fit: contain;
}
.footer .footer__subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer .footer__form {
  display: flex;
  width: 100%;
  background: #f5feff;
  border: 0.3125rem solid #f5feff;
  overflow: hidden;
}
.footer .footer__form .footer__input {
  flex: 1;
  padding: 1rem;
  border: 0;
  font-family: "Roboto Mono", monospace;
  font-size: 0.875rem;
  color: #434c6c;
  margin: 0;
  box-shadow: none;
}
.footer .footer__form .footer__input::placeholder {
  color: #434c6c;
  opacity: 0.3;
}
.footer .footer__form .footer__submit {
  padding: 0 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  background: #292a35;
  color: #f5feff;
  cursor: pointer;
  text-transform: uppercase;
}
.footer .footer__socials {
  display: flex;
  gap: 0.393125rem;
}
.footer .footer__socials .footer__social {
  display: inline-flex;
  width: 3.1875rem;
  height: 3.1875rem;
  border-radius: 50%;
  background: #f5feff;
  align-items: center;
  justify-content: center;
  border: 0.063rem solid rgba(0, 0, 0, 0.06);
}
.footer .footer__socials .footer__social img {
  width: auto;
  height: 1.5rem;
  display: block;
}
.footer .footer__links-row {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}
.footer .footer__links-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer .footer__links-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0.5rem;
}
.footer .footer__links .footer__links-heading {
  font-family: "Inter", sans-serif;
  font-size: 1.3125rem;
  font-weight: 700;
  color: #f5feff;
  text-transform: uppercase;
  margin: 0 0 0.8125rem 0;
}
.footer .footer__links .footer__links-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .footer__links .footer__links-list li {
  margin: 0 0 0.125rem 0;
}
.footer .footer__links .footer__links-list li a {
  color: #f5feff;
  font-family: "Roboto Mono", monospace;
  font-size: 0.875rem;
  text-decoration: none;
  opacity: 0.4;
}
.footer .footer__links .footer__links-list li a:hover {
  text-decoration: underline;
}
.footer .footer__copyright {
  font-size: 0.875rem;
  color: #f5feff;
  margin: 0;
  opacity: 0.4;
}
.footer .footer__disclaimer {
  border: 0.125rem solid rgba(255, 255, 255, 0.4);
  opacity: 0.4;
  border-radius: 1.0625rem;
  padding: 0.75rem;
  font-size: 0.625rem;
  color: #ffffff;
}
.footer {
  /* For Larger screens */
}
@media (min-width: 768px) {
  .footer {
    padding: 3.0625rem 0 4rem;
  }
  .footer .footer__top {
    margin-bottom: 1.8125rem;
  }
  .footer .footer__form .footer__input {
    flex: 1;
    padding: 1.9375rem 1rem;
  }
  .footer .footer__subscribe {
    flex-direction: column;
    align-items: stretch;
  }
  .footer .footer__links-row {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 3.1875rem;
  }
  .footer .footer__links-col {
    flex: 1;
    gap: 3.3125rem;
  }
  .footer .footer__disclaimer {
    max-width: 18.75rem;
  }
  .footer .footer__disclaimer-col {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 0 0 36%;
    margin-top: auto;
    padding-bottom: 0.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
