body {
  font-family: $body-text;
  font-weight: $weight-regular;
  color: $primary-text;
  background: $secondary-bg;
}

h1, h2, h3 {
  font-family: $heading-primary;
  font-weight: $weight-black;
}

p {
  font-family: $body-text;
  font-weight: $weight-regular;
}
