// Import variables, mixins, and section styles
@import 'variables';
@import 'typography';
@import 'mixins';
@import 'promo';
@import 'header';
@import 'hero';
@import 'footer';

// Global styles
.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}